<p-toast position="top-right"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="AgrTrack logo" class="mb-5 w-6rem flex-shrink-0"> -->
        <img src="assets/layout/images/logo-agrTrack.png" alt="logo" class="mb-5 w-15rem">

        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                    <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
                    <span class="text-600 font-medium"> Enter new password </span>
                </div>

                <div>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="p-fluid grid">
                            <div class="field col-12">
                                <label for="password1" class="block text-900 font-medium text-xl mb-2">New
                                    Password</label>
                                <p-password id="pasword1" placeholder="Password" [toggleMask]="true" [feedback]="false"
                                    styleClass="mb-2 w-full" inputStyleClass="w-full p-3"
                                    formControlName="password"></p-password>
                                <div class="mb-2" *ngIf="f['password'].touched && f['password'].invalid"
                                    class="text-danger">
                                    <small class="p-error"
                                        *ngIf="f['password'].errors && f['password'].errors['required']">
                                        Password is required.
                                    </small>
                                    <small class="p-error"
                                        *ngIf="f['password'].errors && f['password'].errors['maxLength']">Password must
                                        be at
                                        least 8 characters.</small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label for="password2" class="block text-900 font-medium text-xl mb-2">Confirm
                                    Password</label>
                                <p-password id="pasword2" placeholder="Password" [toggleMask]="true" [feedback]="false"
                                    styleClass="mb-2 w-full" inputStyleClass="w-full p-3"
                                    formControlName="confirm_password"></p-password>
                                <div class="mb-2" *ngIf="f['confirm_password'].touched && f['confirm_password'].invalid"
                                    class="text-danger">
                                    <small class="p-error"
                                        *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['required']">
                                        Confirm assword is required.
                                    </small>
                                    <small class="p-error"
                                        *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['maxLength']">confirm_password
                                        must
                                        be at
                                        least 8 characters.</small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <button type="submit" pButton pRipple label="Reset Password" [disabled]="form.invalid"
                                class="w-full p-3 p-button-primary text-xl"></button>
                            </div>
                        </div>
                    </form>
                    <span class="block w-full text-600 font-medium text-center mt-3"> Remember your password? <a
                            class="cursor-pointer" style="color: var(--primary-color)"
                            [routerLink]="routes.login">Login</a> </span>
                    <!-- <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" [routerLink]="['/']"></button> -->
                </div>
            </div>
        </div>
    </div>
</div>