<p-toast position="top-right"></p-toast>
<div class="grid">
    <div class="col-12">

        <div class="card">
            <div class="page-header">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
                <h2>Farmers</h2>
            </div>
            <div class="block text-right mb-5">
                <p-button styleClass="p-button-primary" label="Add New" icon="pi pi-plus-circle" iconPos="right"
                    (onClick)="ShowModal(1)"></p-button>
            </div>
            <!-- <ng-container *ngIf="userList.length > 0; else noData"> -->
            <p-table [value]="userList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50,100]">
                <!-- <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>Sr No.</th>
                        <th>Full Name</th>
                        <th>Emai</th>
                        <th>CNIC</th>
                        <th>Phone Number</th>
                        <th class="text-center">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.srNo}}</td>
                        <td>
                            <div (click)="ShowModal(4);onSelectID(user.id)" class="cursor-pointer">
                                {{user.fullname}}
                            </div>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.cnic}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>
                            <div class="text-center">
                                <button type="button" icon="pi pi-bookmark" (click)="ShowModal(2);onSelectUser(user)"
                                    class="p-element p-ripple p-button-secondary p-button-text p-button p-component  mr-2 p-1">
                                    <span class="p-button-icon pi pi-pencil" aria-hidden="true"></span>
                                    <span class="p-ink"
                                        style="height: 42px; width: 42px; top: 0.75px; left: 17px;"></span>
                                </button>
                                <button type="button" icon="pi pi-bookmark" (click)="ShowModal(3);onSelectUser(user)"
                                    class="p-element p-ripple p-button-secondary p-button-text p-button p-component  p-1">
                                    <span class="p-button-icon pi pi-trash" aria-hidden="true"></span>
                                    <span class="p-ink"
                                        style="height: 42px; width: 42px; top: 0.75px; left: 17px;"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- </ng-container> -->
            <!-- <ng-template #noData>
            <h5 style="text-align: center;">No data found</h5>
          </ng-template> -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No records found.</td>
                </tr>
            </ng-template>
        </div>
    </div>

    <p-dialog header="Header" [(visible)]="displayAddModal" [modal]="true" [style]="{ width: '60rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false"
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> -->
                <h3 class="font-bold white-space-nowrap">Add Farmers</h3>
            </div>
            <div class="icons absolute" style="top: 16px;right: 15px;">
                <button pbutton="" pripple="" type="button" icon="pi pi-times"
                    (click)="this.userForm.reset();displayAddModal = false"
                    class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-times" aria-hidden="true"></span><span class="p-ink"
                        style="height: 42px; width: 42px; top: 1.75px; left: 6px;"></span></button>
                <!-- <button type="button" icon="pi pi-bookmark" (click)="this.userForm.reset();displayAddModal = false"
                    class="p-element p-ripple p-button-secondary p-button-text p-button p-component mr-2 p-1">
                    <span aria-hidden="true" class="p-button-icon pi pi-times"></span>
                    <span class="p-ink" style="height: 42px; width: 42px; top: 0.75px; left: 17px;"></span>
                </button> -->
            </div>
        </ng-template>
        <div class="form-holder">
            <form [formGroup]="userForm" (ngSubmit)="AddUser()">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <label for="fullname" class="block mb-2">Full Name <span class="text-red-700">*</span></label>
                        <input pInputText id="fullname" formControlName="fullname">
                        <div class="p-error mb-3" *ngIf="f['fullname'].touched && f['fullname'].invalid"
                            class="text-danger">
                            <small class="p-error" *ngIf="f['fullname'].errors && f['fullname'].errors['required']">Name
                                is
                                required.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="email" class="block mb-2">Email <span class="text-red-700">*</span></label>
                        <input pInputText id="email" formControlName="email">
                        <div class="p-error mb-3" *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                            <small class="p-error" *ngIf="f['email'].errors && f['email'].errors['required']">Email is
                                required.</small>
                            <small class="p-error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Invalid
                                email
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="phoneNumber" class="block mb-2">Phone Number <span
                                class="text-red-700">*</span></label>
                        <input pInputText id="phone" formControlName="phoneNumber" maxlength="11">
                        <div class="p-error mb-3" *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid"
                            class="text-danger">
                            <small class="p-error"
                                *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['required']">Phone Number is
                                required.</small>
                            <small class="p-error"
                                *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['pattern']">Invalid Phone
                                Number
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="cnic" class="block mb-2">CNIC <span class="text-red-700">*</span></label>
                        <input pInputText id="cnic" formControlName="cnic" maxlength="13">
                        <small class="text-xs" style="float: right;padding: 3px;">Without Dashes</small>
                        <!-- <p-inputMask mask="99999-9999999-9" formControlName="value" placeholder=""></p-inputMask> -->
                        <div class="p-error mb-3" *ngIf="f['cnic'].touched && f['cnic'].invalid" class="text-danger">
                            <small class="p-error" *ngIf="f['cnic'].errors && f['cnic'].errors['required']">CNIC Number
                                is
                                required.</small>
                            <small class="p-error" *ngIf="f['cnic'].errors && f['cnic'].errors['pattern']">Invalid CNIC
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="block mb-2">Address</label>
                        <input pInputText id="address" formControlName="address">
                    </div>
                    <div class="col-12">
                        <label for="landinfo" class="block mb-2">Land Information</label>
                        <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                            formControlName="landinfo"></textarea>
                    </div>
                </div>
                <div class="btn-holder flex gap-3">
                    <p-button type="submit" icon="pi pi-check mr-3" label="Submit" styleClass="p-button-primary"
                        pAutoFocus [autofocus]="true" [disabled]="userForm.invalid"></p-button>
                    <p-button severity="secondary" icon="pi pi-times" (click)="displayAddModal = false" label="Cancel"
                        pAutoFocus [autofocus]="true"></p-button>
                </div>
            </form>
        </div>
        <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayAddModal = false" label="Ok" pAutoFocus
            [autofocus]="true"></p-button>
        </ng-template> -->
    </p-dialog>
    <p-dialog header="Header" [(visible)]="displayEditModal" [modal]="true" [style]="{ width: '60rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false"
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> -->
                <h3 class="font-bold white-space-nowrap">Edit Farmers</h3>
            </div>
            <div class="icons absolute" style="top: 16px;right: 15px;">
                <button pbutton="" pripple="" type="button" icon="pi pi-times"
                    (click)="this.resetAll();displayEditModal = false"
                    class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-times" aria-hidden="true"></span><span class="p-ink"
                        style="height: 42px; width: 42px; top: 1.75px; left: 6px;"></span></button>
                <!-- <button type="button" icon="pi pi-bookmark" (click)="this.userForm.reset();displayEditModal = false"
                    class="p-element p-ripple p-button-secondary p-button-text p-button p-component mr-2 p-1">
                    <span aria-hidden="true" class="p-button-icon pi pi-times"></span>
                    <span class="p-ink" style="height: 42px; width: 42px; top: 0.75px; left: 17px;"></span>
                </button> -->
            </div>
        </ng-template>
        <div class="form-holder">
            <form [formGroup]="userForm" (ngSubmit)="EditUser()">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <label for="fullname" class="block mb-2">Full Name <span class="text-red-700">*</span></label>
                        <input pInputText id="fullname" formControlName="fullname">
                        <div class="p-error mb-3" *ngIf="f['fullname'].touched && f['fullname'].invalid"
                            class="text-danger">
                            <small class="p-error" *ngIf="f['fullname'].errors && f['fullname'].errors['required']">Name
                                is
                                required.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="email" class="block mb-2">Email <span class="text-red-700">*</span></label>
                        <input pInputText id="email" formControlName="email">
                        <div class="p-error mb-3" *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                            <small class="p-error" *ngIf="f['email'].errors && f['email'].errors['required']">Email is
                                required.</small>
                            <small class="p-error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Invalid
                                email
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="phoneNumber" class="block mb-2">Phone Number <span
                                class="text-red-700">*</span></label>
                        <input pInputText id="phone" formControlName="phoneNumber" maxlength="11">
                        <div class="p-error mb-3" *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid"
                            class="text-danger">
                            <small class="p-error"
                                *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['required']">Phone Number is
                                required.</small>
                            <small class="p-error"
                                *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['pattern']">Invalid Phone
                                Number
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="cnic" class="block mb-2">CNIC <span class="text-red-700">*</span></label>
                        <input pInputText id="cnic" formControlName="cnic" maxlength="13">
                        <small class="text-xs" style="float: right;padding: 3px;">Without Dashes</small>
                        <!-- <p-inputMask mask="99999-9999999-9" formControlName="value" placeholder=""></p-inputMask> -->
                        <div class="p-error mb-3" *ngIf="f['cnic'].touched && f['cnic'].invalid" class="text-danger">
                            <small class="p-error" *ngIf="f['cnic'].errors && f['cnic'].errors['required']">CNIC Number
                                is
                                required.</small>
                            <small class="p-error" *ngIf="f['cnic'].errors && f['cnic'].errors['pattern']">Invalid CNIC
                                format.</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="block mb-2">Address</label>
                        <input pInputText id="address" formControlName="address">
                    </div>
                    <div class="col-12">
                        <label for="landinfo" class="block mb-2">Land Information</label>
                        <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                            formControlName="landinfo"></textarea>
                    </div>
                </div>
                <div class="btn-holder flex gap-3">
                    <p-button type="submit" icon="pi pi-check mr-3" label="Submit" styleClass="p-button-primary"
                        pAutoFocus [autofocus]="true" [disabled]="userForm.invalid"></p-button>
                    <p-button severity="secondary" icon="pi pi-times" (click)="displayEditModal = false" label="Cancel"
                        pAutoFocus [autofocus]="true"></p-button>
                </div>
            </form>
        </div>
        <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayEditModal = false" label="Ok" pAutoFocus
            [autofocus]="true"></p-button>
        </ng-template> -->
    </p-dialog>
    <p-dialog header="Header" [(visible)]="displayDeleteModal" [modal]="true" [style]="{ width: '40rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false"
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="icons absolute" style="top: 16px;right: 15px;">
                <button pbutton="" pripple="" type="button" icon="pi pi-times"
                    (click)="this.userForm.reset();displayDeleteModal = false"
                    class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-times" aria-hidden="true"></span><span class="p-ink"
                        style="height: 42px; width: 42px; top: 1.75px; left: 6px;"></span></button>
            </div>
        </ng-template>
        <div class="form-holder mb-5">
            <h3>Delete Record!</h3>
            <p>Are you sure you wanna delete this record</p>
        </div>
        <div class="btn-holder flex gap-3">
            <p-button type="submit" icon="pi pi-check mr-3" severity="danger" label="Confirm" pAutoFocus
                [autofocus]="true" (onClick)="ConfirmDelete()"></p-button>
            <p-button severity="secondary" icon="pi pi-times" (click)="displayDeleteModal = false" label="Cancel"
                pAutoFocus [autofocus]="true"></p-button>
        </div>
    </p-dialog>
    <p-dialog header="Header" [(visible)]="displayHistoryModal" [modal]="true" [style]="{ width: '40rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false"
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="icons absolute" style="top: 16px;right: 15px;">
                <button pbutton="" pripple="" type="button" icon="pi pi-times"
                    (click)="this.userForm.reset();displayHistoryModal = false"
                    class="p-element p-ripple p-button-rounded p-button-danger p-button p-component p-button-icon-only"><span
                        class="p-button-icon pi pi-times" aria-hidden="true"></span><span class="p-ink"
                        style="height: 42px; width: 42px; top: 1.75px; left: 6px;"></span></button>
            </div>
        </ng-template>
        <div class="form-holder mb-5">
            <h3>Transaction History</h3>
        </div>
        <div class="btn-holder flex gap-3">
            <p-button type="submit" icon="pi pi-check mr-3" styleClass="p-button-primary" label="Ok" (click)="this.userForm.reset();displayHistoryModal = false" pAutoFocus
                [autofocus]="true" ></p-button>
            <!-- <p-button severity="secondary" icon="pi pi-times" (click)="displayHistoryModal = false" label="Cancel"
                pAutoFocus [autofocus]="true"></p-button> -->
        </div>
    </p-dialog>