<p-toast position="top-right"></p-toast>


<div class="surface-ground relative flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden" [ngClass]="{
    'overlay-loader': this.showLoader}">
    <div class="absolute top-50 left-50 prograsee-spinner" style="transform: translate(-50%);" *ngIf="this.showLoader">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>
    <div class="flex flex-column align-items-center justify-content-center">
         <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="AgrTrack logo" class="mb-5 w-6rem flex-shrink-0"> -->
         <img src="assets/layout/images/logo-agrTrack.png" alt="logo" class="mb-5 w-15rem">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                    <div class="text-900 text-3xl font-medium mb-3">Forget Password?</div>
                    <span class="text-600 font-medium">Enter your email to get a password reset link </span>
                </div>

                <div>
                    <form [formGroup]="form" (ngSubmit)="submit()">

                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" type="text" placeholder="Email address" aria-describedby="email-help"
                            pInputText class="w-full mb-2" style="padding:1rem" formControlName="email">
                        <div class="p-error mb-3" *ngIf="f['email'].touched && f['email'].invalid"
                            class="text-danger">
                            <small class="p-error"
                                *ngIf="f['email'].errors && f['email'].errors['pattern']">Invalid email
                                format.</small>
                        </div>
                        <button type="submit" pButton pRipple label="Submit" class="w-full p-3 p-button-primary text-xl mt-3" [disabled]="form.invalid"></button>
                    </form>
                    <span class="block w-full text-600 font-medium text-center mt-3"> Remember your password? <a class="cursor-pointer" style="color: var(--primary-color)" [routerLink]="routes.login">Login</a> </span>

                    <!-- <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" [routerLink]="['/']"></button> -->
                </div>
            </div>
        </div>
    </div>
</div>