<p-toast position="top-right"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="AgrTrack logo" class="mb-5 w-6rem flex-shrink-0"> -->
        <img src="assets/layout/images/logo-agrTrack.png" alt="logo" class="mb-5 w-15rem">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                    <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div>
                    <form [formGroup]="form" (ngSubmit)="submit()">

                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" type="text" placeholder="Email address" aria-describedby="username-help"
                            pInputText class="w-full mb-2" style="padding:1rem" formControlName="username">
                        <!-- <input id="username" type="username" aria-describedby="username-help" pInputText /> -->
                        <div class="p-error mb-3" *ngIf="f['username'].touched && f['username'].invalid"
                            class="text-danger">
                            <small class="p-error"
                                *ngIf="f['username'].errors && f['username'].errors['required']">Email is
                                required.</small>
                            <small class="p-error"
                                *ngIf="f['username'].errors && f['username'].errors['pattern']">Invalid email
                                format.</small>
                        </div>
                        <label for="password1" class="block text-900 font-medium text-xl my-2">Password</label>
                        <p-password id="pasword1" placeholder="Password" [toggleMask]="true" [feedback]="false"
                            styleClass="mb-2" inputStyleClass="w-full p-3 md:w-30rem"
                            formControlName="password"></p-password>
                        <div class="mb-2" *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                            <small class="p-error" *ngIf="f['password'].errors && f['password'].errors['required']">
                                Password is required.
                            </small>
                            <small class="p-error"
                                *ngIf="f['password'].errors && f['password'].errors['maxLength']">Password must be at
                                least 8 characters.</small>
                        </div>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <!-- <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div> -->
                            <a class="flex-grow-1 font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)" [routerLink]="routes.forgot_password">Forgot password?</a>
                        </div>
                        <button type="submit" pButton pRipple label="Sign In" class="w-full p-button-primary p-3 text-xl" [disabled]="form.invalid"></button>
                    </form>
                    <!-- <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" [routerLink]="['/']"></button> -->
                </div>
            </div>
        </div>
    </div>
</div>